<p id="notice"><%= notice %></p>

<p>
  <strong>Beneficiary:</strong>
  <%= @busary.beneficiary %>
</p>

<p>
  <strong>References:</strong>
  <%= @busary.references %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @busary.institute %>
</p>

<p>
  <strong>References:</strong>
  <%= @busary.references %>
</p>

<%= link_to 'Edit', edit_busary_path(@busary) %> |
<%= link_to 'Back', busaries_path %>
